@use '@angular/material' as mat;

// --- CLASES UTILITARIAS PARA BOTONES ---
// Fuerza a un botón normal a usar los colores de la paleta "tertiary"
.accent {
  @include mat.button-overrides((
    filled-container-color: var(--mat-sys-tertiary),
    filled-label-text-color: var(--mat-sys-on-tertiary),
    protected-label-text-color: var(--mat-sys-tertiary),
    outlined-label-text-color: var(--mat-sys-tertiary),
    text-label-text-color: var(--mat-sys-tertiary),
    outlined-state-layer-color: var(--mat-sys-tertiary),
    text-state-layer-color: var(--mat-sys-tertiary),
    protected-state-layer-color: var(--mat-sys-tertiary),
  ));
}

// Clases auxiliares para aplicar colores específicos a botones con icono (<button mat-icon-button>)
[matIconButton].secondary {
  @include mat.icon-overrides(( color: var(--mat-sys-secondary) ));
}

[matIconButton].accent {
  @include mat.icon-overrides(( color: var(--mat-sys-tertiary) ));
}

[matIconButton].primary {
  @include mat.icon-overrides(( color: var(--mat-sys-primary) ));
}

// --- HACKS DE CSS ---
// Clase para hacer que un campo de texto sea extremadamente delgado
.compact-input {
  // Reduce agresivamente el padding interno donde va el texto escrito
  .mat-mdc-form-field-infix {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    min-height: auto !important; // Evita que Material fuerce una altura mínima alta
  }

  // Sube la etiqueta (placeholder) cuando está centrada para compensar la falta de padding
  .mdc-floating-label {
    top: 18px !important;
  }

  // Centra la etiqueta pequeña exactamente sobre la línea gris cuando el usuario escribe algo
  .mdc-floating-label--float-above {
    top: 22px !important;
  }
}
