<div class="page-container">

  <div class="flex items-center justify-between mt-4 mb-8 gap-4">

    <button matButton="filled" routerLink="nuevo">
      <mat-icon svgIcon="add"></mat-icon>
      Nuevo
    </button>

    <!--    subscriptSizing="dynamic": Esta propiedad de Angular Material hace que el campo de texto no reserve espacio abajo para mensajes de error si no los hay, haciendo que el alineado vertical con el botón sea perfecto.-->
    <mat-form-field appearance="outline" class="w-64 max-w-xs compact-input" subscriptSizing="dynamic">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

  </div>

  <div class="table-container">
    <div class="table-scroll">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell *matCellDef="let user">
            <div class="profile-container">
              <img
                [ngSrc]="user.imagenPerfilUrl || DEFAULT_IMAGE"
                (error)="handleImageError($event)"
                alt="Foto de {{ user.userName }}"
                width="32"
                height="32"
                class="profile-circle"
              />
              <span>{{ user.userName }}</span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let user">{{ user.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef>Rol</th>
          <td mat-cell *matCellDef="let user">{{ user.rolName }}</td>
        </ng-container>

        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td mat-cell *matCellDef="let user">{{ user.telefono }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>

        <ng-container matColumnDef="estatus">
          <th mat-header-cell *matHeaderCellDef>Estatus</th>
          <td mat-cell *matCellDef="let user">

            @if (user.isActive) {
              <span style="color: #1e8e3e; display: flex; align-items: center; gap: 4px;">
        <mat-icon svgIcon="check_circle" style="font-size: 18px; width: 18px; height: 18px;"></mat-icon>
        Activo
      </span>
            } @else {
              <span style="color: #5f6368; display: flex; align-items: center; gap: 4px;">
        <mat-icon svgIcon="cancel" style="font-size: 18px; width: 18px; height: 18px;"></mat-icon>
        Inactivo
      </span>
            }

          </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
          <th mat-header-cell class="text-center" *matHeaderCellDef>Opciones</th>
          <td mat-cell *matCellDef="let user">
            <div class="flex items-center justify-center gap-2 whitespace-nowrap">

              <button matIconButton class="primary" aria-label="Editar usuario" routerLink="{{ user.id }}">
                <mat-icon svgIcon="edit"></mat-icon>
              </button>
              <button matIconButton class="teritary" aria-label="Clave usuario" (click)="onChangePassword(user)">
                <mat-icon>password</mat-icon>
              </button>

              <button matIconButton class="accent" aria-label="Eliminar usuario" (click)="onDelete(user)">
                <mat-icon svgIcon="delete"></mat-icon>
              </button>

            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{ input.value }}"</td>
        </tr>
      </table>
    </div>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]" aria-label="Seleccionar página de usuarios"
                   class="mt-auto"></mat-paginator>
  </div>

</div>

